*{
  font-family: Courier, Arial;
}

.chat_button{
  border: 0;
  margin: 0;
}


.img-thumbnail{
  border-radius: 100px;
  width: 40px;
  height: 40px;
  margin: 0;
}

.card-header{
  height: 59px;
  margin: 0;
  background-color: #ffffff;
}

.card-body{
  overflow-y: auto;
  height: 73vh;
  background-color: #f3f4f9;
}



.list-group{
  border: 0;
}

.message_box {

  min-width: 5vw;
  max-width: 30vw;
  border-radius: 30px;
}

@media (max-width: 1300px) {
  .message_box{
    max-width: 35vw;
  }
}

.message{
  font-size: medium;
}

.text_bar{
  border-radius: 10px;
  height: 39px;
}

.text_submit_button{
  border-radius: 30px;
  background-color: white;
  height: 35px;
}

