<div class="d-none d-xl-block position-fixed h-100 w-100" style=" background-color: #cbbed8"></div>
<div class="row  pageAdjust">
    <div class="container col-12 col-xl-10 offset-xl-1 mt-xl-5 mb-xl-5 main_layout ">
      <div class="row ml-1 ml-xl-0 mr-1 mr-xl-0">
        <div class="card col-5 col-xl-3 contacts_bar">
          <div class="show" id="Navbar">
            <ul class="navbar-nav">
              <li class="nav-item row">
                <a class="nav-link card-header w-100">
                  <img class="card-img img-thumbnail ml-3" [src]="userDetails.userPhotoURL" style="width: 40px; height: 40px;">
                </a>
              </li>
              <li class="nav-item row">
                <input type = "search" placeholder="search" class="w-100 m-xl-3 m-4 text-black">
              </li>
              <li class="nav-item row mt-0">
                  <ul class="list-group w-100" >
                    <li class="list-group-horizontal list-unstyled justify-content-center" *ngFor="let person of userDetails.chatHistory; let i = index;"><button class="btn chat_button w-100 text-left" (click)="showMessage(person, i)">
                      <img src="{{person.photoURL}}" class="d-none d-sm-inline card-img img-thumbnail">
                      <label class="text-left justify-content-center ml-4 contacts_name text-white">{{person.name}}</label></button><br>
                    </li>
                  </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="card col-7 col-xl-9 chat_layout">
          <app-chat-layout [database]="chats" (addMessageEvent)="addNewMessage($event)"></app-chat-layout>
        </div>
      </div>
    </div>
  </div>
